# Handles slash command to deploy pull request code to short-lived "review" environment, run
# ai-dial-chat E2E tests against it, and report results back to the PR comment
# ref: https://github.com/peter-evans/slash-command-dispatch
#
# Expected variables to be set on e.g. repository level:
# - (optional) DISPATCH_WHITELIST: JSON array of repository names (wild) allowed to dispatch this
# - DEPLOY_PROJECT_ID: ID of the GitLab project to trigger deployment in
# - DEPLOY_REF: Git ref to use for deployment (e.g. main)
# - REVIEW_BASE_DOMAIN: Base domain for review environments (e.g. example.com)
#
# Expected secrets to be set on e.g. repository level:
# - ACTIONS_BOT_TOKEN: GitHub token with permissions to create/update comments
# - DEPLOY_HOST: GitLab instance hostname (e.g. gitlab.com)
# - DEPLOY_ACCESS_TOKEN: GitLab access token with API access to the deployment project
# - DEPLOY_TRIGGER_TOKEN: GitLab trigger token for the deployment project
# - E2E_ADMIN: A name of an application user with admin privileges
# - E2E_USERNAME: Name(s) of application user(s) for ai-dial-chat tests
# - E2E_OVERLAY_USERNAME: Name(s) of application user(s) for ai-dial-chat (overlay) tests
# - E2E_PASSWORD: Password for the application users
# - NEXT_PUBLIC_OVERLAY_USER_BUCKET: A blob storage prefix for specific application user

name: deploy-review-command
on:
  repository_dispatch:
    types: [deploy-review-command]
jobs:
  deploy-review:
    runs-on: ubuntu-latest
    environment:
      name: review
    steps:
      - name: Check dispatch repository ownership
        id: owner
        run: |
          DISPATCHED_REPO_NAME=${{ github.event.client_payload.github.payload.repository.name }}
          DISPATCHED_REPO_OWNER=${{ github.event.client_payload.github.payload.repository.owner.login }}
          ERROR_MESSAGE=""
          if [[ "$DISPATCHED_REPO_OWNER" != "$GITHUB_REPOSITORY_OWNER" ]]; then
          ERROR_MESSAGE="The event was not dispatched by a repository within the same owner."
          fi
          WHITELIST='${{ vars.DISPATCH_WHITELIST || '["ai-dial*"]' }}'
          MATCHED=false
          for pattern in $(echo "$WHITELIST" | jq -r '.[]'); do
            if [[ "$DISPATCHED_REPO_NAME" == $pattern ]]; then
              MATCHED=true
              break
            fi
          done
          if [[ "$MATCHED" != "true" ]]; then
            ERROR_MESSAGE+=" The event was dispatched by an unauthorized repository."
          fi
          if [[ -n "$ERROR_MESSAGE" ]]; then
            echo "status=$ERROR_MESSAGE" >> $GITHUB_OUTPUT
            exit 1
          fi
          echo "All checks passed."

      - name: Check all required values are present in the dispatch payload
        id: vars
        run: |
          ERROR_MESSAGE=""
          if [[ -z "${{ github.event.client_payload.slash_command.args.named.application }}" ]]; then
            ERROR_MESSAGE="The 'application' argument is missing."
          fi
          if [[ -z "${{ github.event.client_payload.pull_request.number }}" ]]; then
            ERROR_MESSAGE+=" Pull request number is missing."
          fi
          if [[ -z "${{ github.event.client_payload.pull_request.head.repo.full_name }}" ]]; then
            ERROR_MESSAGE+=" Pull request head repo full name is missing."
          fi
          if [[ -z "${{ github.event.client_payload.pull_request.head.ref }}" ]]; then
            ERROR_MESSAGE+=" Pull request head ref is missing."
          fi
          if [[ -n "$ERROR_MESSAGE" ]]; then
            echo "status=$ERROR_MESSAGE" >> $GITHUB_OUTPUT
            exit 1
          fi
          echo "All required values are present."

      - name: Deploy environment
        id: deploy
        uses: digital-blueprint/gitlab-pipeline-trigger-action@20e77989b24af658ba138a0aa5291bdc657f1505 # v1.3.0
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          trigger_token: ${{ secrets.DEPLOY_TRIGGER_TOKEN }}
          access_token: ${{ secrets.DEPLOY_ACCESS_TOKEN }}
          id: ${{ vars.DEPLOY_PROJECT_ID }}
          ref: ${{ vars.DEPLOY_REF }}
          variables: >
            {
              "GITHUB_APP":"${{ github.event.client_payload.slash_command.args.named.application }}",
              "GITHUB_PR":"pr-${{ github.event.client_payload.pull_request.number }}",
              "GITHUB_REPO":"${{ github.event.client_payload.pull_request.head.repo.full_name }}",
              "GITHUB_REF":"${{ github.event.client_payload.pull_request.head.ref }}",
              "GITHUB_TRIGGER": "${{ github.event.client_payload.github.payload.comment.html_url }}"
            }

  e2e-test:
    uses: epam/ai-dial-ci/.github/workflows/gh-e2e-test.yml@2.7.3
    if: ${{ !(contains(github.event.client_payload.github.payload.issue.labels.*.name, 'skip-e2e') || contains(github.event.client_payload.slash_command.args.unnamed.all, 'skip-e2e')) }}
    needs:
      - deploy-review
    with:
      allure-report-prefix: "${{ github.event.client_payload.slash_command.args.named.application }}-pr-${{ github.event.client_payload.pull_request.number }}"
      e2e-host: "https://chat-${{ github.event.client_payload.slash_command.args.named.application }}-pr-${{ github.event.client_payload.pull_request.number }}.${{ vars.REVIEW_BASE_DOMAIN }}"
      next-public-overlay-host: "https://overlay-${{ github.event.client_payload.slash_command.args.named.application }}-pr-${{ github.event.client_payload.pull_request.number }}.${{ vars.REVIEW_BASE_DOMAIN }}"
      # For ai-dial-chat repo, use PR-related branch, for other repos - default
      # This is requested by QA team to verify changes in tests before rolling them out for everyone
      test-branch: ${{ github.event.client_payload.github.payload.repository.name == 'ai-dial-chat' && github.event.client_payload.pull_request.head.ref || github.event.client_payload.github.payload.repository.default_branch }}
      environment-name: review
    secrets:
      E2E_ADMIN: ${{ secrets.E2E_ADMIN }}
      E2E_USERNAME: ${{ secrets.E2E_USERNAME }}
      E2E_OVERLAY_USERNAME: ${{ secrets.E2E_OVERLAY_USERNAME }}
      E2E_PASSWORD: ${{ secrets.E2E_PASSWORD }}
      NEXT_PUBLIC_OVERLAY_USER_BUCKET: ${{ secrets.NEXT_PUBLIC_OVERLAY_USER_BUCKET }}

  monitor:
    runs-on: ubuntu-latest
    if: always()
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: ./actions/monitor
        with:
          comment-id: ${{ github.event.client_payload.github.payload.comment.id }}
          comment-owner: ${{ github.event.client_payload.github.payload.repository.owner.login }}
          comment-repo: ${{ github.event.client_payload.github.payload.repository.name }}
          environment-url: "https://chat-${{ github.event.client_payload.slash_command.args.named.application }}-pr-${{ github.event.client_payload.pull_request.number }}.${{ vars.REVIEW_BASE_DOMAIN }}"
          github-token: ${{ secrets.ACTIONS_BOT_TOKEN }}
