name: Deploy App to Environment

on:
  workflow_call:
    inputs:
      gitlab-project-id:
        required: true
        description: 'The ID or path of the project owned by the authenticated user.'
        type: string
      gitlab-project-ref:
        default: 'master'
        description: 'The branch or tag to run the pipeline on.'
        type: string
      environment-name:
        default: 'development'
        description: 'The GitHub environment name to use for the deployment.'
        type: string
    secrets:
      DEPLOY_HOST:
        required: true
      DEPLOY_TRIGGER_TOKEN:
        required: true
      DEPLOY_ACCESS_TOKEN:
        required: true

jobs:
  trigger-pipeline:
    runs-on: ubuntu-latest
    concurrency: ${{ inputs.environment-name }}
    environment:
      name: ${{ inputs.environment-name }}
    steps:
      - name: Deploy environment
        id: deploy
        uses: digital-blueprint/gitlab-pipeline-trigger-action@20e77989b24af658ba138a0aa5291bdc657f1505 # v1.3.0
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          trigger_token: ${{ secrets.DEPLOY_TRIGGER_TOKEN }}
          access_token: ${{ secrets.DEPLOY_ACCESS_TOKEN }}
          id: ${{ inputs.gitlab-project-id }}
          ref: ${{ inputs.gitlab-project-ref }}
          variables: '{}'
