name: Generic Docker Release workflow

on:
  workflow_call:
    inputs:
      bypass-checks:
        type: boolean
        description: Do not fail pipeline if checks failed
        default: false
      style-checks-enabled:
        type: boolean
        description: Enable style_checks
        default: true
      style-checks-bypassed:
        type: boolean
        description: Do not fail pipeline if style_checks failed
        default: false
      ort-enabled:
        type: boolean
        description: Enable ORT scanning
        default: true
      ort-bypassed:
        type: boolean
        description: Do not fail pipeline if ORT scan failed
        default: false
      ort-version:
        type: string
        description: ORT version to use
        default: "latest"
      trivy-enabled:
        type: boolean
        description: Enable Trivy scanning
        default: true
      trivy-bypassed:
        type: boolean
        description: Do not fail pipeline if Trivy failed
        default: false
      trivy-severity:
        type: string
        description: Severities of vulnerabilities to fail the build
        default: "CRITICAL,HIGH"
      trivy-severity-for-sarif:
        type: string
        description: Severities of vulnerabilities in SARIF report
        default: "CRITICAL,HIGH"
      trivy-limit-severities-for-sarif:
        type: boolean
        description: By default SARIF format enforces output of all vulnerabilities regardless of configured severities. To override this behavior set this parameter to true and specify desired severities in the `trivy-severity-for-sarif` parameter
        default: true
      maximize-build-space:
        type: boolean
        description: Maximize build space by removing unwanted software
        default: false
      runs-on:
        type: string
        description: Overrides jobs runs-on settings (json-encoded list)
        default: '["ubuntu-24.04"]'
      platforms:
        type: string
        description: Docker build platforms
        default: "linux/amd64"

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  test:
    uses: ./.github/workflows/generic_docker_test.yml
    with:
      bypass-checks: ${{ inputs.bypass-checks }}
      style-checks-enabled: ${{ inputs.style-checks-enabled }}
      style-checks-bypassed: ${{ inputs.style-checks-bypassed }}
      ort-enabled: ${{ inputs.ort-enabled }}
      ort-bypassed: ${{ inputs.ort-bypassed }}
      ort-version: ${{ inputs.ort-version }}
      runs-on: ${{ inputs.runs-on }}

  calculate_version:
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    outputs:
      next-version: ${{ steps.semantic_versioning.outputs.next-version }}
      is-latest: ${{ steps.semantic_versioning.outputs.is-latest }}
      latest-tag: ${{ steps.semantic_versioning.outputs.latest-tag }}
    steps:
      - uses: epam/ai-dial-ci/actions/semantic_versioning@3.1.2
        id: semantic_versioning

  release:
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    permissions:
      contents: write
      packages: write
      security-events: write
    needs:
      - calculate_version
      - test
    steps:
      - name: Maximize build space
        uses: nepalevov/maximize-build-space@046c48361370e2f3fa758bd2f10c6ce29109ef62 # v1.1.0
        if: ${{ inputs.maximize-build-space }}
        with:
          remove-dotnet: "true"
          remove-android: "true"
          remove-haskell: "true"
          remove-codeql: "true"
          remove-large-packages: "true"
          remove-cached-tools: "true"
          remove-swapfile: "true"
          remove-java: "true"
          remove-swift: "true"
          remove-julia: "true"
          remove-browsers: "true"
          remove-cloud-tools: "true"
          remove-kubernetes-tools: "true"
          remove-powershell: "true"
          remove-container-tools: "true"
          remove-rust: "true"
          remove-python: "true"
          remove-node: "true"
          remove-go: "true"
          remove-ruby: "true"
          docker-cleanup: "true"
          set-tmpdir: "true"
      - uses: epam/ai-dial-ci/actions/generate_release_notes@3.1.2
        with:
          latest-tag: ${{ needs.calculate_version.outputs.latest-tag }}
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          lfs: true
          token: ${{ secrets.ACTIONS_BOT_TOKEN }}
      - uses: epam/ai-dial-ci/actions/build_docker@3.1.2
        with:
          ghcr-username: ${{ github.actor }}
          ghcr-password: ${{ secrets.ACTIONS_BOT_TOKEN }}
          dockerhub-username: ${{ secrets.DOCKERHUB_LOGIN }}
          dockerhub-password: ${{ secrets.DOCKERHUB_TOKEN }}
          image-name: ghcr.io/${{ env.IMAGE_NAME }}
          image-tag: ${{ needs.calculate_version.outputs.next-version }}
          push-enabled: true
          trivy-enabled: ${{ inputs.trivy-enabled }}
          bypass-checks: ${{ inputs.trivy-bypassed }}
          trivy-severity: ${{ inputs.trivy-severity }}
          trivy-severity-for-sarif: ${{ inputs.trivy-severity-for-sarif }}
          trivy-limit-severities-for-sarif: ${{ inputs.trivy-limit-severities-for-sarif }}
          platforms: ${{ inputs.platforms }}
          image-extra-aliases: |
            ${{ env.IMAGE_NAME }}:${{ needs.calculate_version.outputs.next-version }}
            ${{ github.ref == 'refs/heads/development' && format('{0}:{1}', env.IMAGE_NAME, 'development') || ''}}
            ${{ github.ref == 'refs/heads/development' && format('{0}/{1}:{2}', 'ghcr.io', env.IMAGE_NAME, 'development') || ''}}
            ${{ startsWith(github.ref, 'refs/heads/release-') && needs.calculate_version.outputs.is-latest == 'true' && format('{0}:{1}', env.IMAGE_NAME, 'latest') || ''}}
            ${{ startsWith(github.ref, 'refs/heads/release-') && needs.calculate_version.outputs.is-latest == 'true' && format('{0}/{1}:{2}', 'ghcr.io', env.IMAGE_NAME, 'latest') || ''}}
      - uses: epam/ai-dial-ci/actions/publish_tag_release@3.1.2
        with:
          tag-version: ${{ needs.calculate_version.outputs.next-version }}
          changelog-file: "/tmp/my_changelog" # comes from generate_release_notes step; TODO: beautify
