name: Run e2e-tests on GitHub

on:
  workflow_call:
    inputs:
      e2e-host:
        type: string
        description: The environment URL for end-to-end testing, e.g., https://my-app.example.com
        required: true
      next-public-overlay-host:
        type: string
        description: An ai-dial-chat (overlay) URL
        required: true
      test-repository:
        type: string
        description: E2E tests Git repository
        default: "epam/ai-dial-chat"
      test-branch:
        type: string
        description: E2E tests Git branch
        default: "development"
      dotenv-file:
        type: string
        description: Path to dotenv file with E2E test variables
        default: "apps/chat-e2e/.env.ci"
      java-distribution:
        type: string
        description: Java distribution
        default: "temurin"
      java-version:
        type: string
        description: Java version
        default: "17"
      node-version:
        type: string
        description: NodeJS version
        default: "lts/*"
      playwright-version:
        type: string
        description: Playwright version
        default: "latest"
      allure-version:
        type: string
        description: Allure Report version
        default: "2.24.0"
      report-prefix:
        type: string
        description: Test report name prefix
        default: ${{ github.run_id }}
      timeout-minutes:
        type: number
        description: The maximum number of minutes to let a job run before GitHub automatically cancels it.
        default: 60
      environment-name:
        type: string
        description: The GitHub environment name to use for the tests. An abstraction to conveniently store secrets and variables
        default: "e2e-test"
    secrets:
      E2E_ADMIN:
        required: true
      E2E_USERNAME:
        required: true
      E2E_OVERLAY_USERNAME:
        required: true
      E2E_PASSWORD:
        required: true
      NEXT_PUBLIC_OVERLAY_USER_BUCKET:
        required: true

concurrency:
  group: ${{ inputs.e2e-host }}
  cancel-in-progress: true

jobs:
  e2e-tests:
    name: ${{ matrix.target }}
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment-name }}
    timeout-minutes: ${{ inputs.timeout-minutes }}
    strategy:
      matrix:
        target: [chat, overlay]
      fail-fast: false
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: ${{ inputs.test-repository }}
          ref: ${{ inputs.test-branch }}
          lfs: true
          persist-credentials: false
      - uses: falti/dotenv-action@f4656c46de6bc223dda660f6724d52537bc0642a # v1.1.5
        with:
          path: ${{ inputs.dotenv-file }}
          log-variables: true
          export-variables: true
          keys-case: bypass
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ inputs.node-version }}
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: ${{ inputs.java-distribution }}
          java-version: ${{ inputs.java-version }}
      - name: Install Allure CLI
        run: |
          curl -fsSL --retry 5 --retry-delay 2 https://github.com/allure-framework/allure2/releases/download/${ALLURE_VERSION}/allure_${ALLURE_VERSION}-1_all.deb -o /tmp/allure.deb
          sudo dpkg -i /tmp/allure.deb
          echo "Allure CLI version: $(allure --version)"
        shell: bash
        env:
          ALLURE_VERSION: ${{ inputs.allure-version }}
      - name: Install Playwright
        run: |
          npm install -D @playwright/test@${{ inputs.playwright-version }} allure-playwright
          npx playwright install --with-deps
          echo "Playwright version: $(npx playwright --version)"
        shell: bash
      - name: Wait for environment
        run: |
          #!/bin/bash
          echo "Expected environment URL ${ENVIRONMENT_URL}, waiting to be available..."
          env_hostname=$(echo "$ENVIRONMENT_URL" | awk -F/ '{print $3}')
          env_overlay_hostname=$(echo "$NEXT_PUBLIC_OVERLAY_HOST" | awk -F/ '{print $3}')

          wait_for_dns() {
              local domain="$1"
              local attempt=0
              local attempt_limit=90  # retry resolve up to 15 minutes
              local attempt_delay=10  # 10 seconds between resolve attempts

              if [ -z "$domain" ]; then
                  echo "Specify domain name as first argument" >&2
                  return 1
              fi

              local base_domain=$(echo "$domain" | sed -E 's/[^.]+\.(.+)/\1/')
              echo "Query Google public DNS for $base_domain nameservers"
              local ns_servers=$(dig +short @8.8.8.8 ns $base_domain)
              if [ -n "$ns_servers" ]; then
                  echo "Detected nameservers for $base_domain:"
                  echo "$ns_servers"
              else
                  echo "Unable to detect nameservers for $base_domain" >&2
                  return 1
              fi

              local ns
              local result
              for ns in $ns_servers
              do
                  while true
                      do
                      echo "Query $ns for $domain"
                      result=$(dig +short @${ns} "$domain")
                      if [ ! -z "$result" ]; then
                          if echo "$result" | grep -Eq '[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}'; then
                              echo "$result"
                              break
                          fi
                      fi
                      attempt=$((attempt+1))
                      if [ $attempt -le $attempt_limit ]; then
                          sleep $attempt_delay
                      else
                          echo "Unable to resolve $domain" >&2
                          return 1
                      fi
                  done
              done
          }

          wait_for_dns ${env_hostname}
          wait_for_dns ${env_overlay_hostname}

          curl --retry 30 --retry-delay 10 --retry-all-errors --fail --insecure --no-progress-meter --location --head -o /dev/null -w "%{http_code}\n" -X GET "${ENVIRONMENT_URL}"/api/health
          curl --retry 30 --retry-delay 10 --retry-all-errors --fail --insecure --no-progress-meter --location --head -o /dev/null -w "%{http_code}\n" -X GET "${NEXT_PUBLIC_OVERLAY_HOST}"/api/health
        shell: bash
        env:
          ENVIRONMENT_URL: ${{ inputs.e2e-host }}
          NEXT_PUBLIC_OVERLAY_HOST: ${{ inputs.next-public-overlay-host }}
      - name: Run tests
        run: |
          echo "URL to run e2e tests against:                 ${E2E_HOST}"
          echo "URL to run overlay e2e tests against:         ${NEXT_PUBLIC_OVERLAY_HOST}"
          echo "Config for arithmetic e2e api tests:          ${ENTITY_ARITHMETIC_REQUEST_FOR_API_TESTS}"
          echo "Config for attachment request e2e api tests:  ${ENTITY_PLUS_ATTACHMENT_FOR_API_TESTS}"
          echo "Config for attachment response e2e api tests: ${ENTITY_SIMPLE_REQUEST_FOR_API_TESTS}"
          echo "Simple requests model for e2e tests:          ${SIMPLE_REQUEST_MODEL}"
          npx nx run chat-e2e:e2e:${{ matrix.target }} --configuration=production --output-style=stream --skipInstall
        shell: bash
        env:
          E2E_HOST: ${{ inputs.e2e-host }}
          E2E_ADMIN: ${{ secrets.E2E_ADMIN }}
          E2E_USERNAME: ${{ secrets.E2E_USERNAME }}
          E2E_OVERLAY_USERNAME: ${{ secrets.E2E_OVERLAY_USERNAME }}
          E2E_PASSWORD: ${{ secrets.E2E_PASSWORD }}
          NEXT_PUBLIC_OVERLAY_HOST: ${{ inputs.next-public-overlay-host }}
          NEXT_PUBLIC_OVERLAY_USER_BUCKET: ${{ secrets.NEXT_PUBLIC_OVERLAY_USER_BUCKET }}
      - name: Generate Allure Report
        if: ${{ !cancelled() }}
        run: |
          allure generate ./apps/chat-e2e/allure-${{ matrix.target }}-results -o ./apps/chat-e2e/allure-${{ matrix.target }}-report --clean
        shell: bash
      - name: Upload Allure Report
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        if: ${{ !cancelled() }}
        with:
          name: "${{ inputs.report-prefix }}-${{ matrix.target }}"
          path: |
            apps/chat-e2e/allure-${{ matrix.target }}-report
          retention-days: 30
