name: Dependency Review

# Designed to be triggered by `pull_request_target` event
on:
  workflow_call:
    inputs:
      java-version:
        type: string
        description: Java version to use
        default: "17"
      java-distribution:
        type: string
        description: Java distribution to use
        default: "temurin"
    secrets:
      ACTIONS_BOT_TOKEN:
        required: true

# decrease from default read/write
permissions:
  contents: read

jobs:
  dependency-review:
    # Do not perform dependency review on private repos - GitHub Advanced Security is not enabled
    if: ${{ !github.event.repository.private }}
    runs-on: ubuntu-latest
    permissions:
      contents: write # to submit dependency graph
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-telemetry: true
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: >
            api.deps.dev:443
            api.securityscorecards.dev:443
            api.github.com:443
            github.com:443
            *.githubusercontent.com:443
            *.gradle.org:443
            *.gradle.com:443
            repo.maven.apache.org:443
            maven.pkg.github.com:443
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          lfs: true
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: epam/ai-dial-ci/actions/java_prepare@3.1.2
        with:
          java-version: ${{ inputs.java-version }}
          java-distribution: ${{ inputs.java-distribution }}
          build-scan-publish: true
      - uses: gradle/actions/dependency-submission@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1
        with:
          dependency-graph: generate-and-submit # Default value is 'generate-submit-and-upload', but we do not want job artifacts
        env:
          GITHUB_DEPENDENCY_GRAPH_REF: "refs/heads/${{ github.event.pull_request.head.ref }}"
          GITHUB_DEPENDENCY_GRAPH_SHA: ${{ github.event.pull_request.head.sha }}
          GPR_USERNAME: ${{ github.actor }}
          GPR_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
      - id: dependency-review
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        with:
          retry-on-snapshot-warnings: true
          retry-on-snapshot-warnings-timeout: 600
      - if: ${{ steps.dependency-review.outputs.comment-content != null }}
        name: Save dependency review output report
        run: |
          cat << 'EOF' > openssf-report.html
          ${{ steps.dependency-review.outputs.comment-content }}
          EOF
      - if: ${{ steps.dependency-review.outputs.comment-content != null }}
        # Use separate action to comment because the original one can't do it without PR context
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5.0.0
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body-path: openssf-report.html
          edit-mode: replace
          token: ${{ secrets.ACTIONS_BOT_TOKEN }}
