name: Dependency Review

# Designed to be triggered by `pull_request_target` event
on:
  workflow_call:
    inputs:
      java_version:
        type: string
        default: "17"
        description: Java version to use
      java_distribution:
        type: string
        default: "temurin"
        description: Java distribution to use
    secrets:
      ACTIONS_BOT_TOKEN:
        required: true

# decrease from default read/write
permissions:
  contents: read

jobs:
  dependency-review:
    # Do not perform dependency review on private repos - GitHub Advanced Security is not enabled
    if: ${{ !github.event.repository.private }}
    runs-on: ubuntu-latest
    permissions:
      contents: write # to submit dependency graph
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c95a14d0e5bab51a9f56296a4eb0e416910cd350 # v2.10.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.deps.dev:443
            api.github.com:443
            api.securityscorecards.dev:443
            github.com:443
            *.githubusercontent.com:443
            *.gradle.org:443
            repo.maven.apache.org:443
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          lfs: true
          persist-credentials: false
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: epam/ai-dial-ci/actions/java_prepare@1.11.0
        with:
          java_version: ${{ inputs.java_version }}
          java_distribution: ${{ inputs.java_distribution }}
      - uses: gradle/actions/dependency-submission@0bdd871935719febd78681f197cd39af5b6e16a6 # v4.2.2
        env:
          GITHUB_DEPENDENCY_GRAPH_REF: "refs/heads/${{ github.event.pull_request.head.ref }}"
          GITHUB_DEPENDENCY_GRAPH_SHA: ${{ github.event.pull_request.head.sha }}
      - id: dependency-review
        uses: actions/dependency-review-action@3b139cfc5fae8b618d3eae3675e383bb1769c019 # v4.5.0
        with:
          retry-on-snapshot-warnings: true
          retry-on-snapshot-warnings-timeout: 600
      - if: ${{ steps.dependency-review.outputs.comment-content != null }}
        # Use separate action to comment because the original one can't do it without PR context
        uses: marocchino/sticky-pull-request-comment@331f8f5b4215f0445d3c07b4967662a32a2d3e31 # v2.9.0
        with:
          number: ${{ github.event.pull_request.number }}
          header: dependency-analysis
          message: ${{ steps.dependency-review.outputs.comment-content }}
          GITHUB_TOKEN: ${{ secrets.ACTIONS_BOT_TOKEN }}
