name: NodeJS PR workflow

on:
  workflow_call:
    inputs:
      bypass-checks:
        type: boolean
        description: Do not fail pipeline if checks failed
        default: false
      format-checks-enabled:
        type: boolean
        description: Enable format_checks
        default: true
      format-checks-bypassed:
        type: boolean
        description: Do not fail pipeline if format_checks failed
        default: false
      style-checks-enabled:
        type: boolean
        description: Enable style_checks
        default: true
      style-checks-bypassed:
        type: boolean
        description: Do not fail pipeline if style_checks failed
        default: false
      code-checks-enabled:
        type: boolean
        description: Enable code_checks
        default: true
      code-checks-bypassed:
        type: boolean
        description: Do not fail pipeline if code_checks failed
        default: false
      ort-enabled:
        type: boolean
        description: Enable ORT scanning
        default: true
      ort-bypassed:
        type: boolean
        description: Do not fail pipeline if ORT scan failed
        default: false
      ort-version:
        type: string
        description: ORT version to use
        default: "latest"
      docker-build-enabled:
        type: boolean
        description: "Enable Docker build"
        default: true
      trivy-enabled:
        type: boolean
        description: Enable Trivy scanning
        default: true
      trivy-bypassed:
        type: boolean
        description: Do not fail pipeline if Trivy failed
        default: false
      trivy-severity:
        type: string
        description: Severities of vulnerabilities to fail the build
        default: "CRITICAL,HIGH"
      trivy-severity-for-sarif:
        type: string
        description: "Severities of vulnerabilities in SARIF report"
        default: "CRITICAL,HIGH"
      trivy-limit-severities-for-sarif:
        type: boolean
        description: By default SARIF format enforces output of all vulnerabilities regardless of configured severities. To override this behavior set this parameter to true and specify desired severities in the `trivy-severity-for-sarif` parameter
        default: true
      node-version:
        type: string
        description: NodeJS version to use
        default: "22"
      maximize-build-space:
        type: boolean
        description: Maximize build space by removing unwanted software
        default: false
      runs-on:
        type: string
        description: "Overrides jobs runs-on settings (json-encoded list)"
        default: '["ubuntu-24.04"]'
      platforms:
        type: string
        description: "Docker build platforms"
        default: "linux/amd64"
      dockerfile-path:
        type: string
        description: "Path to the Dockerfile (default: ./Dockerfile)"
        default: "Dockerfile"

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  test:
    uses: ./.github/workflows/node_test.yml
    with:
      bypass-checks: ${{ inputs.bypass-checks }}
      format-checks-enabled: ${{ inputs.format-checks-enabled }}
      format-checks-bypassed: ${{ inputs.format-checks-bypassed }}
      style-checks-enabled: ${{ inputs.style-checks-enabled }}
      style-checks-bypassed: ${{ inputs.style-checks-bypassed }}
      code-checks-enabled: ${{ inputs.code-checks-enabled }}
      code-checks-bypassed: ${{ inputs.code-checks-bypassed }}
      ort-enabled: ${{ inputs.ort-enabled }}
      ort-bypassed: ${{ inputs.ort-bypassed }}
      ort-version: ${{ inputs.ort-version }}
      node-version: ${{ inputs.node-version }}
      runs-on: ${{ inputs.runs-on }}

  docker_build:
    if: ${{ inputs.docker-build-enabled }}
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    steps:
      - name: Maximize build space
        uses: nepalevov/maximize-build-space@046c48361370e2f3fa758bd2f10c6ce29109ef62 # v1.1.0
        if: ${{ inputs.maximize-build-space }}
        with:
          remove-dotnet: "true"
          remove-android: "true"
          remove-haskell: "true"
          remove-codeql: "true"
          remove-large-packages: "true"
          remove-cached-tools: "true"
          remove-swapfile: "true"
          remove-java: "true"
          remove-swift: "true"
          remove-julia: "true"
          remove-browsers: "true"
          remove-cloud-tools: "true"
          remove-kubernetes-tools: "true"
          remove-powershell: "true"
          remove-container-tools: "true"
          remove-rust: "true"
          remove-python: "true"
          remove-node: "true"
          remove-go: "true"
          remove-ruby: "true"
          docker-cleanup: "true"
          set-tmpdir: "true"
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          lfs: true
      # HACK: jobs.<job_id>.if does not support hashFiles function, so we have to copy it to the each step
      - if: ${{ (hashFiles(inputs.dockerfile-path) != '') }}
        uses: epam/ai-dial-ci/actions/build_docker@3.1.2
        with:
          image-name: ghcr.io/${{ env.IMAGE_NAME }}
          image-tag: test
          trivy-enabled: ${{ inputs.trivy-enabled }}
          bypass-checks: ${{ inputs.trivy-bypassed }}
          trivy-severity: ${{ inputs.trivy-severity }}
          trivy-severity-for-sarif: ${{ inputs.trivy-severity-for-sarif }}
          trivy-limit-severities-for-sarif: ${{ inputs.trivy-limit-severities-for-sarif }}
          platforms: ${{ inputs.platforms }}
          dockerfile-path: ${{ inputs.dockerfile-path }}
