name: NodeJS tests

on:
  workflow_call:
    inputs:
      bypass-checks:
        type: boolean
        description: Do not fail pipeline if checks failed
        default: false
      format-checks-enabled:
        type: boolean
        description: Enable format_checks
        default: true
      format-checks-bypassed:
        type: boolean
        description: Do not fail pipeline if format_checks failed
        default: false
      style-checks-enabled:
        type: boolean
        description: Enable style_checks
        default: true
      style-checks-bypassed:
        type: boolean
        description: Do not fail pipeline if style_checks failed
        default: false
      code-checks-enabled:
        type: boolean
        description: Enable code_checks
        default: true
      code-checks-bypassed:
        type: boolean
        description: Do not fail pipeline if code_checks failed
        default: false
      ort-enabled:
        type: boolean
        description: Enable ORT scanning
        default: true
      ort-bypassed:
        type: boolean
        description: Do not fail pipeline if ORT scan failed
        default: false
      ort-version:
        type: string
        description: ORT version to use
        default: "latest"
      node-version:
        type: string
        description: NodeJS version to use
        default: "22"
      runs-on:
        type: string
        description: Overrides jobs runs-on settings (json-encoded list)
        default: '["ubuntu-24.04"]'

jobs:
  format_checks:
    if: ${{ inputs.format-checks-enabled }}
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          lfs: true
      - uses: epam/ai-dial-ci/actions/node_prepare@3.1.2
        with:
          node-version: ${{ inputs.node-version }}
          clean-install: true
      - name: Test
        continue-on-error: ${{ inputs.bypass-checks || inputs.format-checks-bypassed }}
        shell: bash
        run: |
          npm run format

  style_checks:
    if: ${{ inputs.style-checks-enabled }}
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          lfs: true
      - uses: epam/ai-dial-ci/actions/node_prepare@3.1.2
        with:
          node-version: ${{ inputs.node-version }}
          clean-install: true
      - name: Test
        continue-on-error: ${{ inputs.bypass-checks || inputs.style-checks-bypassed }}
        shell: bash
        run: |
          npm run lint

  code_checks:
    if: ${{ inputs.code-checks-enabled }}
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          lfs: true
      - uses: epam/ai-dial-ci/actions/node_prepare@3.1.2
        with:
          node-version: ${{ inputs.node-version }}
          clean-install: true
      - name: Test
        continue-on-error: ${{ inputs.bypass-checks || inputs.code-checks-bypassed }}
        shell: bash
        run: |
          npm run test

  ort:
    if: ${{ inputs.ort-enabled }}
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          lfs: true
      - uses: oss-review-toolkit/ort-ci-github-action@9acdf1e56f1b42972b12274ae56c35bf70a5f65b # v1.0.1
        env:
          CONTINUE_ON_ERROR: ${{ inputs.bypass-checks || inputs.ort-bypassed }} # Hack to use the input below as a boolean
        with:
          image: "ghcr.io/oss-review-toolkit/ort:${{ inputs.ort-version }}"
          allow-dynamic-versions: "true"
          fail-on: "violations"
          ort-cli-args: "-P ort.forceOverwrite=true --stacktrace -P ort.analyzer.enabledPackageManagers=NPM"
        continue-on-error: ${{ fromJSON(env.CONTINUE_ON_ERROR) }}
