name: Release version

on:
  workflow_call:
    inputs:
      bypass_checks:
        type: boolean
        default: false
        description: Do not fail pipeline if checks failed
      bypass_ort:
        type: boolean
        default: false
        description: Do not fail pipeline if ORT failed
      python_version:
        type: string
        default: '3.11'
        description: Python version to use

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  style_checks:
    runs-on: ubuntu-latest
    steps:
      - uses: nepalevov/ai-dial-ci/actions/prepare_python@main
        with:
          python_version: ${{ inputs.python_version }}
          install_poetry: true
      - name: Test
        continue-on-error: ${{ inputs.bypass_checks }}
        shell: bash
        run: |
          # make lint
          echo "make lint"

  code_checks:
    runs-on: ubuntu-latest
    steps:
      - uses: nepalevov/ai-dial-ci/actions/prepare_python@main
        with:
          python_version: ${{ inputs.python_version }}
          install_poetry: true
      - name: Test
        continue-on-error: ${{ inputs.bypass_checks }}
        shell: bash
        run: |
          # make test
          echo "make test"

  calculate_version:
    runs-on: ubuntu-latest
    outputs:
      next_version: ${{ steps.semantic_versioning.outputs.next_version }}
      non_semver_next_version: ${{ steps.semantic_versioning.outputs.non_semver_next_version }}
    permissions:
      contents: write
      packages: write
    steps:
      - uses: nepalevov/ai-dial-ci/actions/semantic_versioning@main
        id: semantic_versioning

  release:
    needs:
      - calculate_version
      - ort
      - style_checks
      - code_checks
    runs-on: ubuntu-latest
#    environment:
#      name: release
    permissions:
      contents: write
      packages: write

    steps:
      - uses: nepalevov/ai-dial-ci/actions/generate_release_notes@main
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac #v4.0.0
        with:
          lfs: true
          token: ${{ secrets.DEPLOY_USER_PAT }}
      - name: Bump version
        shell: bash
        run: |
          sed -i "s/^version = .*/version = \"${{ needs.calculate_version.outputs.non_semver_next_version }}\"/g" pyproject.toml
      - uses: nepalevov/ai-dial-ci/actions/build_docker@main
        with:
          ghcr_username: ${{ github.actor }}
          ghcr_password: ${{ secrets.GITHUB_TOKEN }}
          # dockerhub_username: ${{ secrets.DOCKERHUB_LOGIN }}
          # dockerhub_password: ${{ secrets.DOCKERHUB_TOKEN }}
          image_name: ghcr.io/${{ env.IMAGE_NAME }}
          image_tag: ${{ needs.calculate_version.outputs.next_version }}
          push: true
          scan: true
          image_extra_aliases: |
            ${{ github.ref == 'refs/heads/development' && format('{0}:{1}', env.IMAGE_NAME, 'development') || '' }}
            ${{ github.ref == 'refs/heads/development' && format('{0}/{1}:{2}', 'ghcr.io', env.IMAGE_NAME, 'development') || ''}}

            ${{ startsWith(github.ref, 'refs/heads/release-') && needs.calculate_version.outputs.is_latest == 'true' && format('{0}/{1}:{2}', 'ghcr.io', env.IMAGE_NAME, 'latest') || ''}}
      - uses: nepalevov/ai-dial-ci/actions/publish_tag_release@main
        with:
          tag_version: ${{ needs.calculate_version.outputs.next_version }}
          changelog_file: "/tmp/my_changelog" # comes from generate_release_notes step; TODO: beautify
          extra_commit_command: |
            git add pyproject.toml
            git commit -m '[skip ci] Update version' || true # upstream branch may already be updated
  ort:
    runs-on: ubuntu-latest
    steps:
      - uses: nepalevov/ai-dial-ci/actions/prepare_python@main
        with:
          python_version: ${{ inputs.python_version }}
          install_poetry: true
      - name: Install dependencies
        shell: bash
        run: |
          poetry install --all-extras
      - uses: nepalevov/ai-dial-ci/actions/ort@main
        with:
          bypass_checks: ${{ inputs.bypass_ort }}
