name: Release version

on:
  workflow_call:
    inputs:
      bypass_checks:
        type: boolean
        default: false
        description: Do not fail pipeline if checks failed
      java_version:
        type: string
        default: '17'
        description: Java version to use
      java_distribution:
        type: string
        default: 'temurin'
        description: Java distribution to use

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  style_checks:
    runs-on: ubuntu-latest
    steps:
      - uses: epam/ai-dial-ci/actions/gradle_checkstyle@feat/test-ci

  code_checks:
    runs-on: ubuntu-latest
    steps:
      - uses: epam/ai-dial-ci/actions/prepare_java@feat/test-ci
      - name: Test
        continue-on-error: ${{ inputs.bypass_checks }}
        run: |
          ./gradlew check

  calculate_version:
    runs-on: ubuntu-latest
    outputs:
      next_version: ${{ steps.semantic_versioning.outputs.next_version }}
    permissions:
      contents: write
      packages: write
    steps:
      - uses: epam/ai-dial-ci/actions/semantic_versioning@feat/test-ci
        id: semantic_versioning

  ort:
    runs-on: ubuntu-latest
    steps:
      - uses: epam/ai-dial-ci/actions/ort@feat/test-ci

  release:
    needs:
      - calculate_version
      - style_checks
      - code_checks
      - ort
    runs-on: ubuntu-latest
#    environment:
#      name: release
    permissions:
      contents: write
      packages: write

    steps:
      - uses: epam/ai-dial-ci/actions/generate_release_notes@feat/test-ci
      - uses: epam/ai-dial-ci/actions/prepare_java@feat/test-ci
      - name: Build
        run: |
           sed -i "s/^version = .*/version = \"${{ needs.calculate_version.outputs.next_version }}\"/g" build.gradle
           ./gradlew build -x test
      - name: Login to GitHub Container Registry
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc #v2.2.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: epam/ai-dial-ci/actions/build_docker@feat/test-ci
        with:
          image_name: ghcr.io/${{ env.IMAGE_NAME }}
          image_tag: ${{ needs.calculate_version.outputs.next_version }}
          push: true
          scan: true
      - uses: epam/ai-dial-ci/actions/publish_tag_release@feat/test-ci
        with:
          tag_version: ${{ needs.calculate_version.outputs.next_version }}
          changelog_file: "/tmp/my_changelog" # comes from generate_release_notes step; TODO: beautify
          extra_commit_command: |
            git add build.gradle
            git commit -m '[skip ci] Update version' || true # upstream branch may already be updated
