name: Release version

on:
  workflow_call:
    inputs:
      bypass_checks:
        type: boolean
        default: false
        description: Do not fail pipeline if checks failed

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  calculate_version:
    runs-on: ubuntu-latest
    outputs:
      next_version: ${{ steps.semantic_versioning.outputs.next_version }}
    permissions:
      contents: write
      packages: write
    steps:
      - uses: nepalevov/ai-dial-ci/actions/semantic_versioning@main
        id: semantic_versioning

  ort:
    runs-on: ubuntu-latest
    steps:
      - uses: nepalevov/ai-dial-ci/actions/ort@main

  release:
    needs:
      - calculate_version
      - ort
    runs-on: ubuntu-latest
#    environment:
#      name: release
    permissions:
      contents: write
      packages: write

    steps:
      - uses: nepalevov/ai-dial-ci/actions/generate_release_notes@main
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac #v4.0.0
        with:
          lfs: true
      - uses: nepalevov/ai-dial-ci/actions/build_docker@main
        with:
          ghcr_username: ${{ github.actor }}
          ghcr_password: ${{ secrets.GITHUB_TOKEN }}
          # dockerhub_username: ${{ secrets.DOCKERHUB_LOGIN }}
          # dockerhub_password: ${{ secrets.DOCKERHUB_TOKEN }}
          image_name: ghcr.io/${{ env.IMAGE_NAME }}
          image_tag: ${{ needs.calculate_version.outputs.next_version }}
          push: true
          scan: true
          image_extra_aliases: |
            ${{ env.IMAGE_NAME }}:${{ needs.calculate_version.outputs.next_version }}
            ${{ github.ref == 'refs/heads/development' && format('{0}:{1}', env.IMAGE_NAME, 'development') || '' }}
            ${{ github.ref == 'refs/heads/development' && format('{0}/{1}:{2}', 'ghcr.io', env.IMAGE_NAME, 'development') || ''}}
            # ${{ startsWith(github.ref, 'refs/heads/release-') && format('{0}:{1}', env.IMAGE_NAME, 'latest') || '' }}
            ${{ startsWith(github.ref, 'refs/heads/release-') && needs.calculate_version.outputs.is_latest == 'true' && format('{0}/{1}:{2}', 'ghcr.io', env.IMAGE_NAME, 'latest') || ''}}
      - uses: nepalevov/ai-dial-ci/actions/publish_tag_release@main
        with:
          tag_version: ${{ needs.calculate_version.outputs.next_version }}
          changelog_file: "/tmp/my_changelog" # comes from generate_release_notes step; TODO: beautify
