name: Python Package tests

on:
  workflow_call:
    inputs:
      bypass_checks:
        type: boolean
        default: false
        description: Do not fail pipeline if checks failed
      enable_style_checks:
        type: boolean
        default: true
        description: Enable style_checks
      bypass_style_checks:
        type: boolean
        default: false
        description: Do not fail pipeline if style_checks failed
      enable_code_checks:
        type: boolean
        default: true
        description: Enable code_checks
      bypass_code_checks:
        type: boolean
        default: false
        description: Do not fail pipeline if code_checks failed
      enable_trivy:
        type: boolean
        default: true
        description: Enable Trivy scanning
      bypass_trivy:
        type: boolean
        default: false
        description: Do not fail pipeline if Trivy failed
      scan_severity:
        description: "Severity of vulnerabilities to fail the build"
        type: string
        default: "CRITICAL,HIGH"
      scan_vuln_type:
        description: "Type of vulnerabilities to scan"
        type: string
        default: "os,library"
      scan_ignore_unfixed:
        type: boolean
        description: "Ignore unpatched/unfixed vulnerabilities"
        default: true
      enable_ort:
        type: boolean
        default: true
        description: Enable ORT scanning
      bypass_ort:
        type: boolean
        default: false
        description: Do not fail pipeline if ORT scan failed
      ort_version:
        type: string
        default: "latest"
        description: ORT version to use
      python_version:
        type: string
        default: "3.11"
        description: Python version to use
      poetry_version:
        type: string
        description: "Poetry version to use"
        default: "latest"
      test_python_versions:
        type: string
        description: Python versions to run tests against
        default: '["3.8", "3.9", "3.10", "3.11"]'

jobs:
  style_checks:
    if: ${{ inputs.enable_style_checks }}
    runs-on: ubuntu-22.04 # TODO: ubuntu-latest have python 3.12 by default and breaks `pip install` system-wide packages
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          lfs: true
      - uses: epam/ai-dial-ci/actions/python_prepare@1.11.1
        with:
          python_version: ${{ inputs.python_version }}
          poetry_version: ${{ inputs.poetry_version }}
      - name: Test
        continue-on-error: ${{ inputs.bypass_checks || inputs.bypass_style_checks }}
        shell: bash
        run: |
          make lint

  code_checks:
    if: ${{ inputs.enable_code_checks }}
    runs-on: ubuntu-22.04 # TODO: ubuntu-latest have python 3.12 by default and breaks `pip install` system-wide packages
    strategy:
      fail-fast: false
      matrix:
        python-version: ${{ fromJSON(inputs.test_python_versions) }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          lfs: true
      - uses: epam/ai-dial-ci/actions/python_prepare@1.11.1
        with:
          python_version: ${{ matrix.python-version }}
          poetry_version: ${{ inputs.poetry_version }}
      - name: Test
        continue-on-error: ${{ inputs.bypass_checks || inputs.bypass_code_checks }}
        shell: bash
        run: |
          pip install twine==5.0.0
          make build
          twine check dist/*
          make test PYTHON=${{ matrix.python-version }}

  ort:
    if: ${{ inputs.enable_ort }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          lfs: true
      - uses: oss-review-toolkit/ort-ci-github-action@9acdf1e56f1b42972b12274ae56c35bf70a5f65b # v1.0.1
        env:
          CONTINUE_ON_ERROR: ${{ inputs.bypass_checks || inputs.bypass_ort }} # Hack to use the input below as a boolean
        with:
          image: "ghcr.io/oss-review-toolkit/ort:${{ inputs.ort_version }}"
          allow-dynamic-versions: "true"
          fail-on: "violations"
          ort-cli-args: "-P ort.forceOverwrite=true --stacktrace -P ort.analyzer.enabledPackageManagers=Poetry"
        continue-on-error: ${{ fromJSON(env.CONTINUE_ON_ERROR) }}

  trivy:
    if: ${{ inputs.enable_trivy }}
    runs-on: ubuntu-latest
    steps:
      - name: Run Trivy vulnerability scanner (stdout, table view, no fail)
        uses: aquasecurity/trivy-action@18f2510ee396bbf400402947b394f2dd8c87dbb0 # v0.29.0
        with:
          scan-type: "fs"
          scan-ref: "."
          format: "table"
          ignore-unfixed: ${{ inputs.scan_ignore_unfixed }}
          vuln-type: ${{ inputs.scan_vuln_type }}
          severity: ${{ inputs.scan_severity }}
        continue-on-error: ${{ inputs.bypass_trivy }}
        env:
          TRIVY_DISABLE_VEX_NOTICE: true
      - name: Run Trivy vulnerability scanner (SARIF, may fail)
        # Do not perform SARIF scan on private repos - GitHub Advanced Security is not enabled
        if: ${{ !github.event.repository.private }}
        uses: aquasecurity/trivy-action@18f2510ee396bbf400402947b394f2dd8c87dbb0 # v0.29.0
        with:
          scan-type: "fs"
          scan-ref: "."
          format: "sarif"
          output: "trivy-results.sarif"
          exit-code: "1"
          ignore-unfixed: ${{ inputs.scan_ignore_unfixed }}
          vuln-type: ${{ inputs.scan_vuln_type }}
          severity: ${{ inputs.scan_severity }}
          limit-severities-for-sarif: true
        continue-on-error: ${{ inputs.bypass_trivy }}
        env:
          TRIVY_DISABLE_VEX_NOTICE: true
      - name: Upload Trivy scan results to GitHub Security tab
        # Do not upload SARIF reports on private repos - GitHub Advanced Security is not enabled
        if: ${{ !cancelled() && inputs.enable_trivy && !github.event.repository.private }}
        uses: github/codeql-action/upload-sarif@6bb031afdd8eb862ea3fc1848194185e076637e5 #v3.28.11
        with:
          sarif_file: "trivy-results.sarif"
          category: trivy
        continue-on-error: ${{ inputs.bypass_trivy }}
