name: Docker tests

on:
  workflow_call:
    inputs:
      bypass_checks:
        type: boolean
        default: false
        description: Do not fail pipeline if checks failed
      bypass_ort:
        type: boolean
        default: false
        description: Do not fail pipeline if ORT failed

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  docker_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          lfs: true
      - uses: epam/ai-dial-ci/actions/build_docker@1.6.1
        with:
          image_name: ghcr.io/${{ env.IMAGE_NAME }}
          image_tag: test
          push: false
          scan: true

  ort:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          lfs: true
      - uses: epam/ai-dial-ci/actions/ort@1.6.1
        with:
          bypass_checks: ${{ inputs.bypass_ort }}
