name: Python test build

on:
  workflow_call:
    inputs:
      bypass_checks:
        type: boolean
        default: false
        description: Do not fail pipeline if checks failed
      python_version:
        type: string
        default: '3.11'
        description: Python version to use
      scan_trivy:
        description: 'Scan the image with Trivy'
        required: false
        type: boolean
        default: true
      scan_severity:
        description: 'Severity of vulnerabilities to fail the build'
        required: false
        type: string
        default: 'CRITICAL,HIGH'
      scan_vuln_type:
        description: 'Type of vulnerabilities to scan'
        type: string
        required: false
        default: 'os,library'

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  style_checks:
    runs-on: ubuntu-latest
    steps:
      - name: PR title check
        uses: thehanimo/pr-title-checker@0cf5902181e78341bb97bb06646396e5bd354b3f #v1.4.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  code_checks:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
          python-version: ["3.11", "3.10", "3.9", "3.8"]
    steps:
      - uses: epam/ai-dial-ci/actions/prepare_python@feat/test-ci
        with:
          python_version: "${{ matrix.python-version }}"
      - name: Lint
        continue-on-error: ${{ inputs.bypass_checks }}
        shell: bash
        run: |
          pip install poetry
          make lint
      - name: Test
        continue-on-error: ${{ inputs.bypass_checks }}
        shell: bash
        run: |
          pip install poetry
          make test
      - name: Build
        continue-on-error: ${{ inputs.bypass_checks }}
        shell: bash
        run: |
          pip install poetry
          make build
          twine check dist/*
      - name: Run Trivy vulnerability scanner
        if: ${{ inputs.scan_trivy }}
        continue-on-error: ${{ inputs.bypass_checks }}
        uses: aquasecurity/trivy-action@fbd16365eb88e12433951383f5e99bd901fc618f #0.12.0
        with:
          scan-type: 'fs'
          scan-ref: '.'
          vuln-type: ${{ inputs.scan_vuln_type }}
          severity: ${{ inputs.scan_severity }}

  ort_scan:
    runs-on: ubuntu-latest
    steps:
      - uses: epam/ai-dial-ci/actions/prepare_python@feat/test-ci
      - name: Install dependencies
        shell: bash
        run: |
          pip install poetry
          make build
      - uses: epam/ai-dial-ci/actions/ort@feat/test-ci