name: Java test build

on:
  workflow_call:
    inputs:
      bypass_checks:
        type: boolean
        default: false
        description: Do not fail pipeline if checks failed
      bypass_ort:
        type: boolean
        default: false
        description: Do not fail pipeline if ORT failed
      java_version:
        type: string
        default: "17"
        description: Java version to use
      java_distribution:
        type: string
        default: "temurin"
        description: Java distribution to use

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  style_checks:
    runs-on: ubuntu-latest
    steps:
      - uses: epam/ai-dial-ci/actions/gradle_checkstyle@1.4.1

  code_checks:
    runs-on: ubuntu-latest
    steps:
      - uses: epam/ai-dial-ci/actions/prepare_java@1.4.1
      - name: Test
        continue-on-error: ${{ inputs.bypass_checks }}
        run: |
          ./gradlew check || ( echo "::error::Tests failed" && exit 1)

  docker_build:
    runs-on: ubuntu-latest
    steps:
      - uses: epam/ai-dial-ci/actions/prepare_java@1.4.1
      - name: Build
        run: ./gradlew build -x test
      - uses: epam/ai-dial-ci/actions/build_docker@1.4.1
        with:
          image_name: ghcr.io/${{ env.IMAGE_NAME }}
          image_tag: test
          push: false
          scan: true

  ort:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          lfs: true
      - uses: epam/ai-dial-ci/actions/ort@1.4.1
        with:
          bypass_checks: ${{ inputs.bypass_ort }}
